nav
  a(href="/")
    i.fas.fa-home
    span Home
  a(href="/")
    i.fas.fa-search
    span Explore
  a(href="/")
    i.far.fa-bell
    span Notification
  a(href="/")
    i.far.fa-envelope
    span Messages
  a(href="/")
    i.far.fa-bookmark
    span Bookmarks
  a(href="/")
    i.far.fa-list-alt
    span Lists
  a(href="/")
    i.far.fa-user
    span Profile
  a(href="/")
    i.fas.fa-chevron-circle-down
    span More